:root {
    --purple: #9d2b9d;
    --purple-hover: #871687;
    --text-gray: #656565;
}

.border-solid{
    border:solid
}

.rounded{
    border-radius:4px;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

main {
    min-height: 70vh;
}

.form-group {
    margin-bottom: 1rem;
}

/*btn-purple*/
.btn-purple {
    background: var(--purple);
    color: #fff;
}
.btn-purple:hover {
    background: var(--purple-hover);
    color: #fff;
}

/*btn-outline-purple*/
.btn-outline-purple {
    border: 1px solid var(--purple);
    color: var(--purple);
}
.btn-outline-purple:hover {
    background: var(--purple);
    color: #fff;
}

select option:focus, select option:hover, select option:checked {
    background: var(--purple) !important;
    color: #fff !important;
    box-shadow: 0 0 10px 100px var(--purple) inset !important;
}

.text-purple, a {
    color: var(--purple);
}

.text-purple:hover { /* some things were blue on hover */
    color: var(--purple) !important;
}

a:hover {
    color: var(--purple-hover);
}

.text-gray {
    color: var(--text-gray);
}

.text-summary-poor{
    color:#f2a134;
}

.text-summary-bad{
    color:#e51f1f;
}

.text-summary-good{
    color:#bbdb44;
}

.text-summary-great {
    color: #006610;
}

.home-links-container {
    height: 55vw;
}

.home-links-container a {
    background: #00000090;
    padding: 10px 25px;
}

.home-links-container a:hover {
    background: #000000;
}

.filter-box {
    background: #f7f7f7;
    box-shadow: inset 0 0 10px #00000010;
    border-radius: 4px;
    padding: 16px 6px 2px 6px;
}

.attendance-cards-grid {
    display: grid;
    grid-row-gap: 25px;
}

.attendance-card {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-column-gap: 10px;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 4px 12px 4px #00000020;
    cursor: pointer;
    transition: all .1s linear;
}

.card-inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4px;
    grid-column-gap: 15px;
}

.card-inner-grid:nth-child(1) {
    grid-template-columns: 1fr;
}

.sub-inner-grid {
    display: grid;
    background: #f7f7f7;
    box-shadow: inset 0 0 10px #00000010;
}

.card-inner-grid > * {
    padding: 4px 8px;
    border-radius: 6px;
}

.attendance-card:hover {
    box-shadow: 0 4px 16px #00000060;
    transform: translateY(-2px);
}

/* From 768px */
@media(width > 768px) {
    .home-links-container {
        height: 45vw;
    }
    .attendance-card {
        grid-template-columns: 3fr 2fr 1fr;
    }
    .card-inner-grid:nth-child(1) {
        grid-template-columns: 1fr 2fr;
    }
}

/* From 1200px */
@media(width > 1200px) {
    .home-links-container {
        height: 40vw;
    }
    .attendance-cards-grid {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }

    .card-inner-grid, .card-inner-grid:nth-child(1) {
        grid-template-columns: 1fr;
    }

    .sub-inner-grid {
        grid-template-columns: 3fr 1fr;
        align-content: center;
    }
}