<!-- Modal-->
<div class="modal dash-modal fade" id="addAttendanceSheetModal" tabindex="-1" role="dialog" aria-labelledby="AttendanceSheetModalLabel">
    <div class="modal-dialog  modal-width-1400" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AttendanceSheetModalLabel">Add New Attendance Sheet</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @{
                    var sheet = new TV5_VolunteerEventMgmtApp.Models.AttendanceSheet();
                    <partial name="_AttendanceSheetPartial" model="sheet" />
                }
               

            </div>
        </div>
    </div>
</div>
