@{
    if (ViewData.ContainsKey("ControllerName"))
    {
        if (ViewData.ContainsKey("returnURL"))
        {
            <a class="" id="backToListLink" href='@ViewData["returnURL"]'>Back to the @ViewData["ControllerFriendlyName"] List</a>
        }
        else
        {
            <a id="backToListLink" asp-action="Index">Back to the @ViewData["ControllerFriendlyName"] List</a>
        }
    }
    else
    {
        <a id="backToListLink" asp-action="Index">Back to List</a>
    }
}
