

<form onsubmit="(e) => e.PreventDefault()">
    <select asp-items="@ViewBag.availableLocations">
        <option value="-1">Select a Location</option>

    </select>
    <input type="file" name="csvFile" required/>
    <input type="submit" onclick="(e)=> e.PreventDefault()"/>
</form>