@model TV5_VolunteerEventMgmtApp.ViewModels.FailVM;



<div class="alert alert-danger alert-dismissible fade" role="alert">
    <p><strong>Failed!</strong>@Model.Message</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
