<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Tomorrow's Voices</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/main.css" />
	<script src="~/js/main.js"></script>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/TV5_VolunteerEventMgmtApp.styles.css" asp-append-version="true" />
	@* Google Font: Montserrat *@
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark mb-5"
			 style="min-height: 60px; background: #040404; box-shadow: 0 0 10px #000000a0;">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="~/images/TV-Logo-white.png" alt="Tomorrow's Voices Logo" style="height: 44px; width: auto;">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				@* <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between"> *@
				<div class="navbar-collapse collapse d-lg-inline-flex justify-content-center flex-grow-1">
					@* <ul class="navbar-nav flex-grow-1"> *@
					<ul class="navbar-nav text-uppercase ">
						<!-- links in uppercase -->
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="AttendanceSheet" asp-action="Dashboard">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="AttendanceSheet" asp-action="Index">Attendance</a>
						</li>
							
						<li class="nav-item">
							<a class="nav-link  text-light" asp-area="" asp-controller="Director" asp-action="Index">Directors</a>
						</li>
						<li class="nav-item">
							<a class="nav-link  text-light" asp-area="" asp-controller="Singer" asp-action="Index">Singers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link  text-light" asp-area="" asp-controller="Location" asp-action="Index">Locations</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link  text-light" asp-area="" asp-controller="Summary" asp-action="Attendance">Summary</a>
						</li>
							
						
						
					</ul>

				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="align-self-start container">
			@{
				// Retrieve the success details from TempData (if set)
				var successMessage = TempData["SuccessMessage"] as string;
				var failMessage = TempData["FailMessage"] as string;
			}

			@if (!string.IsNullOrEmpty(successMessage))
			{
				<partial name="_SuccessAlertPartial" model="new TV5_VolunteerEventMgmtApp.ViewModels.SuccessVM { Message = successMessage }" />
			}
			@if (!string.IsNullOrEmpty(failMessage))
			{
				<partial name="_FailureAlertPartial" model="new TV5_VolunteerEventMgmtApp.ViewModels.FailVM { Message = failMessage }" />
			}

		</div>
		<div class="container align-content-center">
			&copy; 2025 - TV5_VolunteerEventMgmtApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>
		$(document).ready(function () {
			window.setTimeout(function () {
				$(".alert").fadeTo(500, 0).slideUp(500, function () {
					$(this).remove();
				});
			}, 3000); // 3000 milliseconds = 3 seconds
		});
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
