@model TV5_VolunteerEventMgmtApp.Models.Location

<div class="row">
    <div class="col-md-4">
        <form id="locationForm" asp-controller="Location" asp-action="Create" onsubmit="event.preventDefault(); submitForm();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger fw-bold">*</span>
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Director</label>
                <select name="director" class="form-control" asp-items="ViewBag.availableDirectors">
                    <option value="">Select a Director</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-purple" />
            </div>
        </form>
    </div>
</div>

<script>
    // I put this outside the scripts section coz otherwise submitForm does not get recognized.
    async function submitForm() {
        const form = document.getElementById('locationForm');
        const formData = new FormData(form);

        try {
            const response = await fetch('/Location/Create', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                console.log('Form submitted successfully');

                // window.location.href = '/Location/Index';
                window.location.href = '/AttendanceSheet/Dashboard';
            } else {
                console.error('Form submission failed');
            }
        } catch (error) {
            console.error('There was a problem with the fetch operation:', error);
        }
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
