<!-- Modal-->
<div class="modal fade" id="homeSettingsModal" 
    tabindex="-1" role="dialog" aria-labelledby="HomeSettingsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="HomeSettingsModalLabel">Home Page Settings</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @{
                    <partial name="_HomeSettings" />
                }
            </div>
        </div>
    </div>
</div>
