@{
    ViewData["Title"] = "Home Page";
}

<div class="" style="height: 66vw;">
    @* Background *@
    <div class="" style="width: 100%; position: absolute; left: 0; top: 60px; z-index: -100">
        <img src="https://tomorrowsvoices.ca/wp-content/uploads/2019/06/MK5D9717.jpg?id=177" 
            alt="Children from Tomorrow's Voices singing" class="img-fluid w-100" />
    </div>
    @* Links *@
    <div class="home-links-container d-flex gap-3 flex-column align-items-center justify-content-end flex-md-row justify-content-md-around align-items-md-end">
        <a class="nav-link text-white fs-1 fw-bold" asp-area="" asp-controller="AttendanceSheet" asp-action="Dashboard">Choir</a>
        <a class="nav-link text-gray fs-1 fw-bold disabled" asp-area="" asp-controller="AttendanceSheet" asp-action="Dashboard">Volunteers</a>
    </div>

</div>
