@{
	ViewData["Title"] = "Home Page";
}

<div id="home-header">
	<!-- Background -->
	<div id="home-header-bg-container">
	</div>

</div>

<!-- Links -->
<div id="home-links-container">
	<a class="nav-link text-white fs-1 fw-bold" asp-area="" asp-controller="AttendanceSheet" asp-action="Dashboard">
		<div>
			CHOIR
			<div></div>
		</div>
	</a>
	<a class="nav-link text-gray fs-1 fw-bold disabled" asp-area="" asp-controller="AttendanceSheet" asp-action="Dashboard">
		<div style="font-size: 0.7em;">
			VOLUNTEERS
			<div></div>
		</div>
	</a>
</div>

<div class="my-5" style="height: 200px; width: 100%; box-shadow: 0 3px 15px 2px #00000020;">
</div>

<div class="my-5" style="height: 200px; width: 100%; box-shadow: 0 3px 15px 2px #00000020;">
</div>