@model IEnumerable<TV5_VolunteerEventMgmtApp.Models.Volunteer>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Volunteers</h1>


<div>
    <p class="d-inline"><a class="btn btn-purple" asp-action="Create">Create New</a></p>
    <button class="btn btn-purple">Bulk Create</button>
    <button class="btn btn-purple">Confirmations</button>
</div>

<partial name="_VolunteerEditorList" model="@Model" />

<partial name="_pendingVolunteersList" model="@Model" />


<script src="js/volunteers.js" type="module">

</script>
