@model IEnumerable<TV5_VolunteerEventMgmtApp.Models.VolunteerEvent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="fw-bold mb-3">
	<span class="me-2">Sort by</span>
	<button type="submit" name="actionButton" value="Location"
			class="btn btn-outline-purple py-0 d-inline">
		Location
	</button>
	<button type="submit" name="actionButton" value="Date"
			class="btn btn-outline-purple py-0 d-inline">
		Date
	</button>
</div>

<div class="event-cards-grid mb-3">
	
	@foreach (var item in Model)
	{
		<partial name="_EventCard" model="@item"/>
	}
</div>
	

	<div id="volunteerContextMenu" class="custom-context-menu d-none" role="menu"> 
		
		<button type="button"
				class="dropdown-item"
				id="removeMenuItem"
				role="menuitem"
		>
			Remove Volunteer
		</button>
	</div>

@section Scripts {

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
}
